strict-peer-dependencies=false
# This is a workaround for VSCode's Eslint extension not loading plugins correctly,
# see: https://github.com/pnpm/pnpm/issues/5447
public-hoist-pattern[]=*eslint*
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=dprint
only-built-dependencies[]=esbuild
only-built-dependencies[]=svelte-preprocess
only-built-dependencies[]=unrs-resolver